<div class="current-broggle">
  <div class="branch-counter"><span class="octicon octicon-git-branch"></span><span class="num-branches">3</span></div>
  <h1>USA master QA</h1>
  <h3>Last updated just now</h3>

  <div class="branches">
    <h4>Branches</h4>
    <span class="branch"><span class="octicon octicon-git-branch"></span><span class="branch-name">usa_part4</span></span>
    <span class="branch"><span class="octicon octicon-git-branch"></span><span class="branch-name">usa_sprint3b</span></span>
    <span class="branch"><span class="octicon octicon-git-branch"></span><span class="branch-name">usa_approval_conditionsb</span></span>
  </div>
<div>

<%# <%= form_tag('deploy', method: 'post') do %1> %>
<%#   <div class='selectize-medium'> %>
<%#     <%= select_tag 'select-base', '', placeholder: 'Select a base branch' %1> %>
<%#   </div> %>
<%#   </br> %>
<%#   <1%# <%= select_tag 'select-branches', '', placeholder: 'Select branches to deploy', multiple: true %2> %1> %>

<%#   <div class="input-wrapper"><%= submit_tag("Checkout base branch") %1></div> %>
<%# <% end %1> %>

