<nav class="sidebar">
  <div class="sidebar-content">
    <%= select_tag 'broggle-search', '', placeholder: 'Search for a broggle...' %>
    <section>
      <div class="sidebar-header"><h3>Status</h3></div>
      <h4>Broggle</h4>
      <div class="sidebar-subsection">
        <span class="sidebar-current-broggle">USA master QA</span>
      </div>
      <h4>Branches</h4>
      <div class="sidebar-subsection">
        <span class="branch"><span class="octicon octicon-git-branch"></span><span class="branch-name">usa_part4</span></span>
        <span class="branch"><span class="octicon octicon-git-branch"></span><span class="branch-name">usa_sprint3b</span></span>
        <span class="branch"><span class="octicon octicon-git-branch"></span><span class="branch-name">usa_approval_conditionsb</span></span>
      </div>
    </section>
    <section>
      <div class="sidebar-header"><h3>Broggles</h3></div>
      <ul class="broggles-list">
        <li>broggle-a</li>
        <li>broggle-b</li>
        <li>broggle-c</li>
      <ul>
    </section>
  </div>
</nav>

