@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: #444B58;
  background: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
  -webkit-font-smoothing: antialiased;
}

.content {
  width: 960px;
  margin: 0 auto;
  padding-top: 150px;
}

.title {
  text-align: center;
  h1 {
    margin: 20px 0;
    font-size: 50px;
  }
}

.input-wrapper {
  text-align: center;
}

.selectize-medium {
  width: 250px;
  margin: 0 auto;
}
